{% extends 'layout.html.twig' %}

{% block body %}
    {% for message in app.session.flashbag.get('warning') %}
        <div class="alert alert-danger">
            <p><strong>Attention !</strong> : {{ message }}</p>
        </div>
    {% endfor %}
    <div class="well">

        {{ form_start(formBook) }}
        {{ form_errors(formBook) }}
        {{ form_row(formBook.dateVisit, {label: "Chosissez la date de votre visite"}) }}
        {{ form_row(formBook.typeTicket, {label: "Chosissez le type de(s) billet(s) (à partir de 14h le billet ne peut être que Demi-journée) "}) }}
        {{ form_row(formBook.nbrTicket, {label: "Chosissez le nombre de billet(s) "}) }}
        {{ form_row(formBook.email, {label: "Votre adresse mail"}) }}

        <input type="submit" value="Suivant" class="btn btn-success pull-right"/>

        {{ form_end(formBook) }}
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
