{% extends 'layout.html.twig' %}

{% block body %}

    <div class="well">

        {{ form_start(formBook) }}
        {{ form_row(formBook.dateVisit, {label: "Chosissez la date de votre visite"}) }}
        {{ form_row(formBook.typeTicket, {label: "Chosissez le type de(s) billet(s) (à partir de 14h le billet ne peut être que Demi-journée) "}) }}
        {{ form_row(formBook.nbrTicket, {label: "Chosissez le nombre de billet(s) "}) }}
        {{ form_row(formBook.email, {label: "Votre adresse mail"}) }}

        <input type="submit" value="Suivant" class="btn btn-secondary pull-right"/>

        {{ form_end(formBook) }}
    </div>
    Bienvenue sur la page d'accueil

    Ici vous allez trouver le formulaire dès qu'il sera pret :D Je suis au bon endroit

    Ici il y aura le 1er formulaire à savoir = entity Booking : Id/JourViste/TypeBillet/NombreBillet/Email/NumCommande/Total

    Cliquez <a href=" {{ path('tickets') }}">ici </a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
