{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Voici le récapitulatif de votre commande : </h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Tarifs</th>
            </tr>
        </thead>

        {% for ticket in booking.tickets %}
            <tbody>
                <tr>
                    <td>{{ ticket.name}}</td>
                    <td>{{ ticket.surname }}</td>
                    <td>{{ booking.email }}</td>
                    <td>{{ ticket.price }}</td>
                </tr>
            </tbody>
        {% endfor %}

        Le prix total est de {{ total }} €

    </table>

{% endblock %}

{% block stylesheets %}

{% endblock %}
