{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Voici le récapitulatif de votre commande : </h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Tarifs</th>
            </tr>
        </thead>

        {% for ticket in booking.tickets %}
            <tbody>
                <tr>
                    <td>{{ ticket.name}}</td>
                    <td>{{ ticket.surname }}</td>
                    <td>{{ booking.email }}</td>
                    <td>{{ ticket.price }} €</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

    <p>Le prix total est de {{ total }} €</p>

    <form method="post" id="payment-form">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ stripe_public_key }}"
                data-email="{{ booking.email }}"
                data-amount="{{ total * 100 }}"
                data-name="Dollar Shear Club"
                data-description="Widget"
                data-locale="auto">
        </script>
    </form>
{% endblock %}


{% block Javascript %}


{% endblock %}
{% block stylesheets %}

{% endblock %}
