{% extends '@sabateLouvre/layout.html.twig' %}

{% block body %}
    <div class="well">
        {{ form_start(formTicket) }}

        <div class="form-group">
            {{ form_label(formTicket.name, "Nom") }}
            {{ form_widget(formTicket.name) }}
        </div>

        <div class="form-group">
            {{ form_label(formTicket.surname, "Prénom") }}
            {{ form_widget(formTicket.surname) }}
        </div>

        <div class="form-group">
            {{ form_label(formTicket.birthDate, "Date de naissance") }}
            {{ form_widget(formTicket.birthDate) }}
        </div>

        <div class="form-group">
            {{ form_label(formTicket.nationality, "Nationalité") }}
            {{ form_widget(formTicket.nationality) }}
        </div>

        <div class="form-group">
            {{ form_label(formTicket.tarifRed, "à cocher si vous avez droit à un tarif réduit.") }}
            {{ form_widget(formTicket.tarifRed) }}
        </div>



        {{ form_end(formTicket) }}
    </div>
    Ici on récupère les données en session et on affiche le formulaire des tickets !

    Entity Tickets = Id/Nom/Prenom/DateNaissance/Nationalité/TarifRed/Price

    Cliquez <a href=" {{ path('recap') }}">ici </a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
