<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">

    <title>{% block title %}Billetterie Louvre{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <a href="{{ path('home') }}">
        <img src="{{ asset('image/logo1.jpg')  }}" width="200" height="200"/>
        </a>
        <p>Acheter votre billet sans passer par la file d'attente</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="menu" class="col-md-3">
            <h3> Infos pratiques</h3>
            <ul class="list-group">
                <li class="list-group-item">Les billets <strong>demi-journée</strong> sont disponibles qu'à partir de <strong>14h</strong></li>
                <li class="list-group-item">Le musée est ouvert <strong>tous les jours</strong> de <strong>10h à 19h</strong></li>
                <li class="list-group-item">Le musée sera <strong>fermé le 1 Mai, 25 Décembre et 1er Novembre</strong> </li>
            </ul>
            <h3>Les Tarifs </h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Tarif Normal</strong> de 16 € ( à partir de 12 ans )</li>
                <li class="list-group-item"><strong>Tarif Enfant</strong> de 8 € ( à partir de 8 ans et jusqu'à 12 ans)
                </li>
                <li class="list-group-item"><strong>Tarif Sénior</strong> de 12 € ( à partir de 60 ans)</li>
                <li class="list-group-item"><strong>Tarif Réduit</strong> de 10 € accordé dans certaines conditions
                    (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)
                </li>
            </ul>
        </div>
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
            {% block Javascript %}
            {% endblock %}

        </div>
    </div>
</div>
<hr>
<footer>
    <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ asset('jquery/jquery3.3.min.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>